<template>
  <q-page class="">
    <div class="row">
      <q-card class="q-ma-lg shadow-10 q-pa-sm col-6" color="primary">
        <q-card-title class="" >Data</q-card-title>
        <q-card-separator />
        <q-card-main>
          <div class="row">
            start ophalen data
          </div>
          <div class="row">
          </div>
        </q-card-main>
        <q-card-actions>
          <q-btn v-if="checking == false" :loading="checking" color="secondary" label="Start" class="col self-end" size="lg" @click="listenToVmix" v-ripple>
            <span slot="loading">Running...</span>
          </q-btn>
          <q-btn v-if="checking" color="negative" icon="cancel" class="col self-end" size="lg" @click="stopListening" v-ripple></q-btn>
        </q-card-actions>
      </q-card>
       <q-card class="q-ma-lg shadow-6 q-pa-sm col" color="amber-9">
        <q-card-title class="justify-center" >Preview</q-card-title>
        <q-card-separator />
        <q-card-main class="row q-pa-lg">
          <p class="largetext" >{{preview}}</p>
        </q-card-main>
      </q-card>
       <q-card class="q-ma-lg shadow-6 q-pa-sm col" color="red-6">
        <q-card-title class="justify-center" >Live</q-card-title>
        <q-card-separator />
        <q-card-main class="row q-pa-lg">
          <p class="largetext">{{live}}</p>
        </q-card-main>
      </q-card>
    </div>
    <div class="row q-ma-lg q-pa-sm">
      <!-- <q-btn @click="testOb" >TEST</q-btn>
      <q-btn @click="clearTable" >Remove</q-btn> -->
      <table border="1px black">
        <tr>
          <th>Name</th><th>Status</th><th>Cam</th><th></th>
        </tr>
        <tr v-for="(item, index) in tableData" v-bind:key="item.tallyId">
          <td>
            <q-input type="text" v-model="item.tallyName" label="Name"></q-input>
          </td>
          <td>Connected</td>
          <td>
            <q-input v-model="item.tallyCamNum" type="number"></q-input>
          </td>
          <td>
            <q-btn-group>
              <q-btn size="sm" color="primary" @click="changeTallyData(index)" >save</q-btn>
              <q-btn size="sm" color="negative" @click="forgetWifi(index)" >forget wifi</q-btn>
            </q-btn-group>
          </td>
        </tr>
      </table>
    </div>
  </q-page>
</template>

<style>
  .largetext{
    font-size: 3rem !important;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td, th{
    padding: 0.5em;
  }
  .red{
    background-color: red;
  }
  .green{
    background-color: green;
  }
</style>

<script>
const { ipcRenderer } = require('electron')
export default {
  data: () => {
    return {
      live: 0,
      preview: 0,
      checkInterval: null,
      checking: false,
      tableData: []
    }
  },
  created () {
    ipcRenderer.on('message', (event, data, num) => {
      this.tableData.push({ name: data, status: 'connected', camera: num })
    })
    ipcRenderer.on('NewConnection', (event, tallyID, tallyName, tallyCamNum) => {
      this.tableData.push({ tallyID, tallyName, tallyCamNum })
      console.log(this.tableData)
    })
    // Listen to sycing events
    // data(objectarray): an array with the tally objects, must contain tallyName(string), tallyCamNum(int)
    ipcRenderer.on('SyncConnections', (event, data) => {
      console.log('Syncing objects')
      this.tableData = []
      data.forEach(element => {
        this.tableData.push({ tallyID: element.tallyID, tallyName: element.tallyName, tallyCamNum: element.tallyCamNum })
      })
    })
  },
  methods: {
    listenToVmix () {
      this.checking = true
      this.checkInterval = window.setInterval(() => {
        this.$axios.get('http://127.0.0.1:8088/api/').then((response) => {
          let data = (new DOMParser()).parseFromString(response.data, 'text/xml')
          this.live = data.getElementsByTagName('active')[0].textContent
          this.preview = data.getElementsByTagName('preview')[0].textContent
        })
      }, 100)
    },
    stopListening () {
      clearInterval(this.checkInterval)
      this.checking = false
    },
    changeCam (index) {
      let conf = confirm('Weet je zeker dat je de tally gegevens wil wijzigen?')
      if (conf) {
        ipcRenderer.send('changeCamNum', this.tableData[index])
      }
    },
    changeTallyData (index) {
      // Change tally name and cam num
      let conf = confirm('Weet je zeker dat je de tally gegevens wil wijzigen?')
      if (conf) {
        // Send the tabledata row of the object
        this.tableData[index].tallyName = this.tableData[index].tallyName.replace('-', '_')
        ipcRenderer.send('changeTallyData', this.tableData[index])
      }
    },
    forgetWifi (index) {
      let conf = confirm('Weet je zeker dat je het netwerk wil vergeten?')
      if (conf) {
        ipcRenderer.send('forgetWifi', this.tableData[index])
      }
    },
    testOb () {
      this.tableData.push({ tallyID: 10, tallyName: 'TEST', status: 'test', tallyCamNum: 1 })
    },
    clearTable () {
      this.tableData = []
    }
  },
  watch: {
    live: (val) => {
      ipcRenderer.send('change', val)
    },
    preview: (pre) => {
      // ipcRenderer.send('change', pre)
    }
  }
}
</script>
